<section>
    <h2>Contacta con nosotros</h2>
    <form action="">
        
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre">
            <br>
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido">
        </div>
           
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="tlf" class="form-label">Telefono de contacto</label>
            <input type="number" class="form-control" id="tlf" placeholder="+34">
          </div>
          <div class="mb-3">
            <label for="comentario" class="form-label">Coméntanos</label>
            <textarea class="form-control" id="comentario" rows="3"></textarea>
          </div>
          <button type="submit" class="btn">Submit</button>
    </form>
</section>