<section>
    <h3 id="titulo">EXPERTOS EN CONSULTORÍA Y FORMACIÓN TI</h3>
    <hr id="divisor">
    <div class="texto">
        <p>En Core Networks creemos <strong>en la especialización y en la formación certificada</strong> de los profesionales como valores diferenciales.</p>
        
        <p> Nuestra experiencia en el ámbito de la consultoría TI nos permite conocer de cerca lo que necesitan las organizaciones de hoy: profesionales sólidos, en continuo reciclaje, capaces de <strong>dominar las nuevas tecnologías de manera rápida y eficiente</strong>.</p>
        
        <p>Es por eso que llevamos más de 15 años facilitando que las empresas cuenten con <strong>los profesionales tecnológicos mejor formados</strong> del mercado.</p>
        
        <p>Además, en Core Networks <strong>apostamos por ser los mejores especialistas</strong> en sistemas de gestión de accesos e identidades, así como ofreciendo a nuestros clientes las mejores soluciones Big Data.</p>
    </div>
    <img src="../../assets/img/logo_core_pack-300x187.png" alt="logo">
    <br>
    <div class="historia">
        <h3 id="tit-historia">NUESTRA HISTORIA</h3>
    </div>
    <div class="texto">
        <p>
            <strong>Core Networks nace en el año 2001</strong> como una compañía tecnológica centrada en consolidar los servicios de formación oficiales de Sun Microsystems, creando las áreas de consultoría, proyectos e integración de sistemas.
        </p>
        <p>
            Nuestros valores de compromiso, calidad, flexibilidad y especialización nos llevan pronto a convertirnos en el principal partner de formación de Sun Microsystems Iberia. Y tras su compra por parte de Oracle, <strong>adquirimos el papel de Key EMEA Partner</strong>, convirtiéndonos en uno de sus socios más importantes en esta región.
        </p>
    </div>
    <br>
</section>
